@import url(https://github.backroomswiki.cn/Super_Liminal/css/basic-styles.css);
@import url(https://github.backroomswiki.cn/Super_Liminal/css/super-liminal.css);
@import url(/MainCode/morning-star.css);


/*根*/
:root {
    --header-title: "HW的私站";
    --header-subtitle: "毙掉了~~";
    --logo-image: url("https://hw233.vip/img/毙掉了.png");
}

#header h2 span::before {
    opacity: 1;
    background-position: center left;
    width: 13rem;
    transform: skew(10deg, 10deg);
}

/*魔改搜索*/

@media only screen and (min-width: 1024px){

#search-top-box-input {
    display: block;
    margin-right: 5px;
    color: rgba(var(--search-button-hover-text-color));
    background: rgba(var(--search-button-hover-background-color));
    border: 1px solid rgba(var(--search-button-hover-text-color));
}

form#search-top-box-form{
    display: flex;
}

}


