@import url(https://github.backroomswiki.cn/Super_Liminal/css/basic-styles.css);
@import url(https://github.backroomswiki.cn/Super_Liminal/css/super-liminal.css);
@import url(/MainCode/morning-star.css);


/*根*/
:root {
    --header-title: "HW的私站";
    --header-subtitle: "毙掉了~~";
    --logo-image: url("https://hw233.vip/img/毙掉了.png");
    --blue: 230, 100, 50;
    --blue-d: 180, 60, 30;
    --gray: 255, 240, 230;
    --gray-d: 220, 180, 160;
    --white: 255, 250, 245;
    --black: 40, 30, 25;  
    --beta-color: var(--white);
}

@keyframes skewAnimation {
  0% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(-10deg, -10deg);
  }
  100% {
    transform: skew(10deg, 10deg);
  }
}

#header h2 span::before {
    opacity: 1;
    background-position: center left;
    width: 13rem;
    animation: skewAnimation 1s ease-in-out infinite;
}

/*魔改搜索*/

@media only screen and (min-width: 1024px){

#search-top-box-input {
    display: block;
    margin-right: 5px;
    color: rgba(var(--search-button-hover-background-color));
    background: rgba(var(--search-button-hover-text-color));
    border: 1px solid rgba(var(--search-button-hover-background-color));
}

form#search-top-box-form{
    display: flex;
}

}


